{% extends "home_base.html" %}
{% load custom_markdown %}

{% block content %}

    <div class="sub-nav">
        <a href="{% url "home" %}" class="nav-inactive">Home</a>
        <a href="{% url "archives" %}" class="nav-active">Archives</a>
        <a href="#" class="nav-inactive">About</a>
        <form class="nav-search" id="sform" action="/search/" method="get">
            <div id="search-btn" class="search-button">
                <i class="iconfont">&#xe627;</i>
            </div>
            <input id="si" type="text" name="s" class="search-input" placeholder="Press Enter to search"/>
        </form>
    </div>

    <div class="archive-wraper">
        {% if error %}
            <h2 class="post-title">没有相关文章题目</a></h2>
        {% else %}
            {% for post in post_list %}
                <div class="archive-post">
                    <div class="archive-info">
                        {{ post.date_time | date:"M j, Y"}}
                    </div>

                    <div class="archive-title">
                        <a href="{% url "detail" id=post.id %}">{{ post.title }}</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}



    </div>
{% endblock %}