{% extends "home_base.html" %}
{% load custom_markdown %}
{% block content %}

    <div class="sub-nav">
        <a href="{% url "home" %}" class="nav-active">Home</a>
        <a href="{% url "archives" %}" class="nav-inactive">Archives</a>
        <a href="#" class="nav-inactive">About</a>
        <div class="nav-search">
            <div id="search-btn" class="search-button">
                <i class="iconfont">&#xe627;</i>
            </div>
            <input id="si" type="text" class="search-input" placeholder="Type to search"/>
        </div>
    </div>

    <div class="post-list">
        {% for post in post_list %}

            <div id="post1" class="post">
                <h2 class="post-title">
                    <a href="{% url "detail" id=post.id %}">{{ post.title }}</a>
                </h2>
                <div class="post-text">
                    {{ post.content | custom_markdown  | truncatewords:"50"}}
                </div>
                <div class="post-info">
                    <i class="glyphicon glyphicon-time"></i>
                    <p>Time:</p>
                    <p>{{ post.date_time | date:"Y· M j"}}</p>
                    <p>·</p>
                    <i class="glyphicon glyphicon-tags"></i>
                    <p>Category: </p>
                    <a href="catagory-p.html">{{ post.category|upper }}</a>
                </div>
                <div class="read-more">
                    <a href="{% url "detail" id=post.id %}">
                        <div>Read More</div>
                    </a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}